# Python para Análise de Dados - Pandas

Iremos trabalhar com base de imóveis que obtive no site **Kaggle**

In [ ]:
# Importando o Pandas.
import pandas as pd

In [ ]:
# Lendo uma base de dados no formato .csv.
# o parâmetro sep é usado para definir qual o separador entre os dados.
# o parâmetro header informo em qual linha está minhas colunas ou se elas não existem.
# Se não existe colunas (header=None) o pandas dará um número para cada atributo da base.
arquivo = 'kc_house_data.csv'
dataset = pd.read_csv(arquivo, sep=',' ,header=0)

In [ ]:
# Imprimindo o tipo da variável dataset
# Dataframe é um estrutura de dados onde linhas podem ter colunas de diferentes tipos.
type(dataset)

In [ ]:
# Metodo head() imprime as 5 linhas iniciais do dataframe.
dataset.head()

In [ ]:
# O parâmetro index_col informa a coluna na qual o dataframe será indexado
dataset = pd.read_csv(arquivo, sep=',', index_col='date')

In [ ]:
dataset = pd.read_csv(arquivo, sep=',', usecols=['id','date','price','bedrooms'])

In [ ]:
# Metodo head() imprime as 5 linhas iniciais do dataframe.
dataset.head()

In [ ]:
# Imprimindo a 100 primeiras linhas do dataframe.
dataset.head(100)

In [ ]:
# Atributo columns retorna o nome das colunas do dataframe.
dataset.columns

In [ ]:
# Método count() retorna a quantidade de linhas de todas as colunas.
dataset.count()

In [ ]:
# Método describe() exibe informações estatísticas da base de dados. 
# Várias informações como desvio padrão, média, valor mínimo e valor máximo de colunas.
dataset.describe()

In [ ]:
# Imprime as 5 ultimas linhas .
dataset.tail(100)

In [ ]:
# Imprime uma amostra aleatória do dataset.
dataset.sample(5)

In [ ]:
# Retorna em formato de tupla a quantidade de linhas e colunas do dataset.
dataset.shape

In [ ]:
# Imprime informações sobre colunas e uso de memória.
dataset.info()

### Analisando um Dataframe com Profiling **#Top**

*Instalando o Pandas Profiling*

In [ ]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (2.11.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.25.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (1.12.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.17.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (45.1.0)

In [ ]:
import pandas_profiling

*Lendo o arquivo de dados e construindo o dataframe chamado df*

In [ ]:
arquivo = 'kc_house_data.csv'

In [ ]:
df = pd.read_csv(arquivo, sep=',' ,header=0)

*Usando o Profiling no jupyter notebook*

In [ ]:
# Vai dar ferramentas e estatísticas sobre o dataframe. Deixa "False", ideal "True" para grandes bancos de dados
pandas_profiling.ProfileReport(df, check_correlation=False)

* Gerando um relatorio **html**

In [ ]:
# Do tipo "describe", mostra de forma mais simples e didáticas das informações estatísticas
profile = pandas_profiling.ProfileReport(df)

In [ ]:
profile.to_file("report.html")

# Trabalhando com Grandes Arquivos

+ Quando estamos trabalhando com _**Grandes Arquivos**_ temos um desafio um grande desafio que é gerenciar a memória.
+ As vezes precisamos manipular uma base de dados muito grande e por isso precisamos trabalhar com arquivos de forma diferente.
* Uma forma é ler esses arquivos de forma limitada para não consumir toda a _**memória**_ do servidor.

In [ ]:
# Lendo as 5 primeiras linhas do arquivo.
dataset = pd.read_csv(arquivo, sep=',', nrows=5)

In [ ]:
dataset.head(2)

In [ ]:
# O parâmetro chunksize define em quantas linhas cada bloco irá conter.
chunk = pd.read_csv(arquivo, chunksize=10000)

In [ ]:
type(chunk)

In [ ]:
# Imprimindo tamanho das partes do arquivo chunk.
for parte in chunk:
    print (len(parte))

In [ ]:
# O parâmetro chunksize define em quantas linhas cada bloco irá conter.
chunk = pd.read_csv(arquivo, chunksize=10000)

In [ ]:
# Interese sobre cada parte do dataframe em seguida adicione o valor processado a uma nova coluna do dataset chamada 'bedrooms_size'.
lista = []
for parte in chunk:
    lista.append(parte['bedrooms'] * 2)

dataset['bedrooms_size'] = pd.concat(lista)

In [ ]:
dataset

### Mais recursos para trabalhar com grandes bases de dados

1.   Tente trabalhar apenas com as colunas que você vai realmente precisar.
2.   Atente para o tipo de dado de cada coluna.
3.   Visualize qual o separador usado para separar os dados.

**Dica:** Se estiver no linux use o comando head para ler as 5 primeiras linhas do arquivo:

`head -n 5 dataset.csv`

In [ ]:
!head -n 5 /home/rodrigo/kc_house_data.csv

**Dica**: Se estiver no Windows abra o prompt do **PowerShell** e use o comando abaixo:
- gc log.txt -head 5

In [ ]:
import pandas as pd

In [ ]:
# Lear a base com o parâmetro nrows
df = pd.read_csv('kc_house_data.csv', sep=',', nrows=5)

In [ ]:
df

*Exporte o nome das colunas para usar no parâmetro usecols*

In [ ]:
df.columns.tolist()

In [ ]:
df = pd.read_csv("kc_house_data.csv", usecols=['id','date','price','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront'])

In [ ]:
df.head()

*lendo as colunas por posições*

In [ ]:
# Reduz consumo de memórias
df = pd.read_csv("kc_house_data.csv", usecols=[0,1,2,3,4,5])

In [ ]:
df.head()

*Ler o arquivo completo e veja o uso de memória*

In [ ]:
df = pd.read_csv('kc_house_data.csv', sep=',')

In [ ]:
df.info()

*Leia todas as colunas exceto algumas..*

In [ ]:
data = "kc_house_data.csv"
df = pd.read_csv(data, usecols = lambda column : column not in ['sqft_living','sqft_lot','floors'])

In [ ]:
df.head()

### Trabalhe com os tipos de dados adequados

- Atenção para os tipos de dados **object**
- Dados que são categóricos podem receber o tipo de dados *category*

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

*Convertendo os tipos de dados*

In [ ]:
df.Sex = df.Sex.astype('category')
df.Embarked = df.Embarked.astype('category')
df.Survived = df.Survived.astype('category')
df.Pclass = df.Pclass.astype('category')
df.PassengerId = df.PassengerId.astype('int32')
df.Parch = df.Parch.astype('int32')
df.SibSp = df.SibSp.astype('int32')

*Veja o uso de memória*

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int32
Survived       891 non-null category
Pclass         891 non-null category
Name           891 non-null object
Sex            891 non-null category
Age            714 non-null float64
SibSp          891 non-null int32
Parch          891 non-null int32
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null category
dtypes: category(4), float64(2), int32(3), object(3)
memory usage: 49.2+ KB

- Quase **50%** e ganho de memória !

*Converta colunas em tempo de leitura*

In [ ]:
# Possível já pré-converter o tipo das variaveis, formando um dicionario
data = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(data,  dtype = {"Embarked" : "category", "Survived": "category", "Parch": "int32"})

In [ ]:
df.info()

# Consultando um Dataset

* Podemos fazer _**consultas**_ em um Dataframe, isso se assemelha a linhagem SQL.

* Existem métodos interessantes para fazer consultas usando operadores lógicos (>,<,== ).

* Além disso podemos fazer consultas usando instruções de agrupamento, por exemplo. 

* Isso da muita flexibilidade para o Cientista de dados na hora de explorar da base de dados.

In [ ]:
# Conta a quantidade de valores únicos
pd.value_counts(dataset['bedrooms'])

In [ ]:
# O método loc() é usado para visualizar informações do dataset.
# Este método recebe uma lista por parâmetro e retorna o resultado da consulta.
# Consulta imóveis com 3 quartos
dataset.loc[dataset['bedrooms'] == 3]

In [ ]:
# Usando o método loc() junto com o operador &
# Consulta imóveis com 3 quartos e com o número de banheiros maior que 2
dataset.loc[(dataset['bedrooms']==3) & (dataset['bathrooms'] > 2)]

In [ ]:
# O método sort_values() ordena o dataset pela coluna 'price' em ordem descrescente.
# Apenas o retorno da query será ordenado, não a organização do dataset.
dataset.sort_values(by='price', ascending=False)

In [ ]:
# Usando o método count() para contar o número de linhas de uma query.
dataset[dataset['bedrooms']==4].count()

# Alterando o dataset

In [ ]:
dataset.head()

In [ ]:
# Adicionando uma coluna ao Dataframe.
dataset['size'] = (dataset['bedrooms'] * 20)

In [ ]:
# Visualizando o conteúdo da coluna criada.
dataset['size'].head()

In [ ]:
# Criando uma função para processamento de dados.
def categoriza(s):
    if s >= 80:
        return 'Big'
    elif s >= 60:
        return 'Medium'
    elif s >= 40:
        return 'Small'

In [ ]:
# Criando uma nova coluna a partir do processamento realizado.
dataset['cat_size'] = dataset['size'].apply(categoriza)

In [ ]:
# Visualizando a nova coluna criada.
dataset['cat_size'].head()

In [ ]:
# Ver a distribuicao da coluna com o método value_counts.
pd.value_counts(dataset['cat_size'])

In [ ]:
# O método drop é usado para excluir dados no dataframe.
# A opção axis=1 define que queremos excluir uma coluna e não uma linha.
# O parâmetro inplace define que a alteração irá modificar o objeto em memória.

dataset.drop(['cat_size'], axis=1, inplace=True)

In [ ]:
# Apagando a coluna 'size'
dataset.drop(['size'], axis=1, inplace=True)

In [ ]:
# Visualizando o dataset.
dataset.head()

**Apagando linhas baseado em Condições lógicas!**

In [ ]:
# Dropa linhas com bedrooms = 0
dataset.drop(dataset[dataset.bedrooms==0].index ,inplace=True)

In [ ]:
# Dropa linhas com quartos maiores que 30
dataset.drop(dataset[dataset.bedrooms>30].index ,inplace=True)

**Percorrendo linhas de um Dataframe Pandas**

- Método iterrows() permite percorrer por todas as linhas de um dataframe.
- Esse método retorna um objeto **iterator** que contém o indice de cada linha e um cada linha em um dado do tipo série.

In [ ]:
type(dataset.iterrows())

In [ ]:
# Imprime a primeira linha do objeto iterator
next(dataset.iterrows())

In [ ]:
# Percorrendo o dataframe e imprimindo o indice e cada linha.
for indice, linha in dataset.head(10).iterrows():
     print(indice, linha)

In [ ]:
# Percorrendo o dataframe e acessando colunas nomes.
for indice, linha in dataset.head(10).iterrows():
     print(indice, linha['bedrooms'], linha['floors'], linha['price'])

**Atualizando Dataframe ao percorrer linha a linha**

In [ ]:
# Imprime os 5 primeiros valores de preços antes da atualização.
dataset.price.head()

In [ ]:
# Percorrendo e atualizando linhas de um dataframe.
# Atualiza o valor da coluna PRICE multiplicando seu valor por 2.
# é preciso usar o método at()
for indice, linha in dataset.iterrows():
    dataset.at[indice , 'price'] = linha['price'] * 2

In [ ]:
dataset.price.head()

**Percorrendo um dataframe com o método itertuples()**

- Retorna as linhas e índice em formato de tuplas.
- Costuma ser mais rápido que o iterrows()

In [ ]:
# Percorre o dataframe usando itertuples()
for linha in dataset.head().itertuples():
    print(linha)

In [ ]:
# Imprime linhas chamando as colunas por nome.
for linha in dataset.head().itertuples():
    print(linha.id, linha.bedrooms, linha.price)

# Missing Values

* **Missing Values** são valores faltantes em colunas, esses podem ser oriundos de falhas em cargas de dados, falhas em crawlers ou até mesmo corrupção de dados.

* Missing Values podem ser um problema em várias situações, como por exemplo, algoritmos de machine learning que não trabalham bem com dados faltantes.

* Estes também podem atrapalhar resultados de análises.

* Vamos aprender como encontrar missing values na base de dados e como manipular esses valores.

In [ ]:
arquivo = '/home/rodrigo/curso/Python Para Data Análise/kc_house_data.csv'
dataset = pd.read_csv(arquivo, sep=',', header=0)

In [ ]:
# Consultando linhas com valores faltantes.
dataset.isnull().sum()

In [ ]:
#Com este comando removemos todas as linhas onde tenha pela menos um registro faltante em algum atributo.
dataset.dropna(inplace=True)

In [ ]:
# É possível ainda, remover somente linhas que estejam com valores faltantes em todas as colunas, veja:
dataset.dropna(how='all', inplace=True)

In [ ]:
#preenche com a media dos valores da coluns floors os values null
dataset['floors'].fillna(dataset['floors'].mean(), inplace=True)

In [ ]:
#preenche com 1 os values null da coluna bedrooms
dataset['bedrooms'].fillna(1, inplace=True)

# Visualização de dados

In [ ]:
# Plota em um gŕafico de barras o preço dos imóveis
%matplotlib notebook
dataset['price'].plot()

In [ ]:
# Plota em gráfico de dispersão o preço e o numero de quartos de imóveis
dataset.plot(x='bedrooms',y='price',kind='scatter', title='Bedrooms x Price',color='r')

In [ ]:
# Plota em gráfico de dispersão o preço e o número de banheiros
dataset.plot(x='bathrooms',y='price',kind='scatter',color='y')