
# Exercício - Compras de Ecommerce  

Neste exercício, você receberá alguns dados falsos sobre algumas compras feitas pela Amazon! Basta seguir as instruções e tente dar melhor para responder as perguntas e completar as tarefas. Sinta-se a vontade para dar uma olhada nas soluções. A maioria das tarefas pode ser resolvida de diferentes maneiras. Para a maior parte, as perguntas ficam cada vez mais difíceis.

Peço desculpas desde já por todos dados que não parecerem muito reais. São todos falsos.

Observe também que todas essas questões podem ser respondidas com uma linha de código.
____
** Importe pandas e leia o arquivo csv "Ecommerce Purchases" e configure-o para um DataFrame chamado ecom. **

In [ ]:
import pandas as pd

In [ ]:
ecom = pd.read_csv('Ecommerce Purchases', sep=',')

**Verifique o "head" do DataFrame.**

In [ ]:
ecom.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

** Quantas linhas e colunas existem? **

In [ ]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** Qual é o preço de compra médio? **

In [ ]:
ecom['Purchase Price'].mean()

50.34730200000025

** Quais foram os preços de compra mais altos e mais baixos? **

In [ ]:
ecom['Purchase Price'].max()

99.99

In [ ]:
ecom['Purchase Price'].min()

0.0

** Quantas pessoas têm Inglês 'en' como sua língua de escolha no site? **

In [ ]:
len(ecom[ecom['Language'] == 'en'])

1098

** Quantas pessoas têm o cargo de "Advogado"? **

In [ ]:
len(ecom[ecom['Job'] == 'Lawyer'])

30

** Quantas pessoas fizeram a compra durante a AM e quantas pessoas fizeram a compra durante o PM? **

** (Sugestão: Confira [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) **

In [ ]:
'''AM = ecom[ecom['AM or PM'] == 'AM'].count()
PM = ecom[ecom['AM or PM'] == 'PM'].count()
print('AM = {} and PM = {}'.format(AM, PM))'''

ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** Quais são os 5 títulos de trabalho mais comuns? **

In [ ]:
ecom['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

** Alguém fez uma compra que veio do Lot: "90 WT", qual foi o preço de compra para esta transação? **

In [ ]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** Qual é o email da pessoa com o seguinte número do cartão de crédito: 4926535242672853 **

In [ ]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** Quantas pessoas têm o American Express como seu fornecedor de cartão de crédito * e * fizeram uma compra acima de US $ 95? **

In [ ]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].shape

(39, 14)

** Difícil: quantas pessoas tem um cartão de crédito que expira em 2025? **

In [ ]:
# Tem que tratar as datas do cartao
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

** Difícil: quais são os 5 principais provedores de e-mail / hosts mais populares (por exemplo, gmail.com, yahoo.com, etc ...) **

In [ ]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64